* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;
    background-color: #89abe3;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
}
.field-block {
    width: 90%;
    margin-bottom: 40px;
    border-bottom: 1px solid #ffffff;
    position: relative;
}
label {
    position: absolute;
}
.field {
    width: 100%;
    border: none;
    background:none;
    outline:none;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;
}
select {
    cursor: pointer;
}
.separator {
    height: 2px;
    width: 0;
    background-color: #0006f5;
    margin-top: 5px;
    position: relative;
    top: 1px;
}
button[type="submit"] {
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background:none;
    outline:none;
    transition: .2s ease-in-out;
    transform: scale(1);
}
button[type="submit"]:hover {
    border-color: #0006f5;
    color: #0006f5;
    transition: .2s ease-in-out;
}
.response-text {
    margin-top: 50px;
    text-align: center;
}
.field.error {
    border-color: #ff5454;
}